apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      queryTimeout: 60s
      timeInterval: 5s
    secureJsonData: {}
    
  - name: DRYAD.AI Metrics
    type: prometheus
    access: proxy
    url: http://DRYAD.AI:8000/api/v1/health/metrics/prometheus
    isDefault: false
    editable: true
    jsonData:
      httpMethod: GET
      queryTimeout: 30s
      timeInterval: 10s
    secureJsonData: {}
